@tailwind base;
@tailwind components;
@tailwind utilities;


:root{

--primary-orange : #EB8800;

--secondary-orange : #FFC801;
}

*{
    @apply outline-0 outline-transparent ;
    z-index: 0;
  
}

.link{
    color : rgba(8, 0, 0, 0.575);
    text-decoration: none;
}
.link-bg{
    background: #fe960436;
}
.router-link-exact-active{
    @apply font-black text-black;
}
header select{
    @apply text-[13px] flex  ;

}


header label{
    @apply font-medium text-sm;

}
.filter1  div{
    @apply mx-auto text-left flex flex-col ;
}
#filter1 select, #filter1 label{
    @apply flex ;
}
#filter1 select{
    @apply  p-0 border-none ;
}   
header select option{
    @apply font-thin;
}


#hFilter{
    @apply w-full max-sm:hidden bg-white mt-0 ;
    z-index: 100;
}

#hFilter button{
    @apply  border-none p-1 flex flex-col space-y-1 focus:border-none max-md:w-1/5 ;
    line-height: 70px !important;   
    
}

#hFilter svg{
    @apply  w-auto mx-auto h-4 fill-transparent;
}
#hFilter span{
    @apply text-xs text-center align-middle ;
    line-height: 10px;
}



.e-card{
    @apply  p-0  relative  mb-0 ;
    width : clamp(255px, 270px, 275px);
    z-index: 0!important;
}
/* @media  (min-width: 1024px) {
    .e-card{
    width: 23.5%;
    
} 
/* }  */
.e-card-imgs img{
    z-index: 0 !important;
}
.e-cardInfos{
     @apply bg-cover bg-[url('./media/bg.svg')] bg-no-repeat ;
    border-start-end-radius: 37%;
    z-index: 100 !important;
    background-color: transparent;
    

}

button, a{
    @apply transition-colors duration-300;
    
}

form.contact input{

    @apply block py-0 px-1 w-full text-base  bg-transparent border-0 border-b border-gray-300 appearance-none  focus:border-[--primary-orange];
    }
form.contact label{
    @apply  mt-auto text-base text-black font-regular;
}
footer {
    color : black !important;
}
footer h5{
    @apply text-lg  ;
    font-weight: 600 !important
}
footer p, footer p a{
    @apply text-base font-extralight !important;
}

.car-wrap{
    	padding: 1rem;
	display: grid;
	grid-template-columns: 3;
	
	grid-row-gap: 1rem;
	
	height: 10rem;
	
}

.car-wrap .slide{
    width: 60%;
    column-span: 2;
	display: inline-block;
	border-radius: 3px;
	font-size: 0;


}